<!DOCTYPE html>
<html {{ site.language_attributes }}>
  <head>
    <meta charset="{{ site.charset }}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    {{ function('wp_head') }}
  </head>

  <body class="{{ body_class }}">
    {% include 'partials/header.twig' %}

    {% block content %}

    {% endblock %}

    {% include 'partials/footer.twig' %}

    {{ function('wp_footer') }}
  </body>
</html>
